.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
}

.flex-container-reverse {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row-reverse;
}

.flex-item { order: 0;}
.flex-item-1 { order: 1; }
.flex-item-2 { order: 2; }

.flex-size-1 { flex-grow: 1; }
.flex-size-2 { flex-grow: 2; }
.flex-size-3 { flex-grow: 3; }
.flex-size-4 { flex-grow: 4; }
.flex-size-5 { flex-grow: 5; }

.flex-shrink {
    flex-shrink: 1 !important;
}