header {
    background-color: darkgrey;
    float: none;
    height: 80px;
    width: 99.99999%;
}

footer {
    background-color: darkgrey;
    float: none;
    height: 40px;
    width: 99.99999%;
}

.header-right, .header-middle, .header-left {
    height: 100%;
}