header {
    background-color: darkgrey;
    height: 80px;
}

body {
    width: 99.99999%;
    font-family: Verdana, sans-serif;
}

@media (min-width: 1280px) {
    body {
        margin: auto;
        width: 1280px;
    }
}

.navigation-header {
    list-style: none;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row-reverse wrap-reverse;
    justify-content: flex-start;
}

.navigation-header li {
    font-size: 14px;
    font-weight: bold;
    display: block;
    padding: 1em 2em;
}

.navigation {
    list-style: none;
    margin: 0;
    background: #dddddd;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
}

.navigation li {
    font-weight: bold;
    display: block;
    padding: 1em 3em;
}

.navigation-header a, .navigation a, .navigation-footer a {
    font-weight: normal;
    text-decoration: none;
    color: black;
}

.navigation a:hover {
    /*background: #00b7f5;*/
}

@media all and (max-width: 800px) {
    .navigation, main {
        justify-content: space-around;
    }
}

@media all and (max-width: 600px) {
    .navigation, main {
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        padding: 0;
    }

    .navigation li {
        text-align: center;
        padding-top: 1em;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
}

.navigation-footer {
    list-style: none;
    margin: 0;
    background: #dddddd;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row-reverse wrap-reverse;
    justify-content: flex-start;
}

.navigation-footer li {
    font-size: 12px;
    font-weight: bold;
    display: block;
    padding: 1em 2em;
}

footer {
    background-color: darkgrey;
    height: 50px;
}

