html {
    font-family: Verdana, sans-serif;
    overflow-y: scroll;
}

header {
    background-color: darkcyan;
    height: 200px;
}

main {
    min-height: 150px;
}

.header-logo img {
    padding-top: 1%;
    height: 180px;
}

.header-content, nav, main, footer {
    width: 99.99999%;
}

.header-content {
    height: 100%;
    background-color: cadetblue;
}

.navigation-header {
    list-style: none;
    margin: 0;
    -webkit-flex-flow: row-reverse wrap-reverse;
    justify-content: flex-start;
}

.header-navigation li {
    font-size: 14px;
    font-weight: bold;
    display: block;
    padding: 0 2em 1em 2em;
}

.header-navigation li:first-child {
    display: none;
}

.navigation {
    list-style: none;
    margin: 0;
    background: #dddddd;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
}

.navigation li {
    font-weight: bold;
    display: block;
    padding: 1em 3em;
}

.navigation li.navigation-mobile {
    display: none;
}

.header-navigation a, .navigation a, .navigation-footer a {
    font-weight: normal;
    text-decoration: none;
    color: black;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* MAIN
/*--------------------------------------------------------------------------------------------------------------------*/

.login-form, .login-infobox {
    width: 460px;
}

.flex-container-login {
    flex-flow: column;
    align-items: center;
}

.login-form {
    padding: 2em 0 1em 0;
}

.login-infobox a {
    padding-left: 5px;
}

.side-navigation {
    list-style: none;
    margin: 0;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
}

.side-navigation li {
    display: block;
    padding: 1em 3em 1em 4em;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.side-navigation li:first-child {
    padding: 1em 3em;
}

ul.side-navigation {
    padding: 0;
}

.side-navigation-background {
    background: #dddddd;
}

.side-navigation li:first-child {
    font-weight: bold;
}

.productDetail{
    display: none;
    border-style: solid;
    /*height: 180px;*/
    margin: 2em;
    text-align: center;
    background-color: Dark;
}

.products {
    border-style: solid;
    width: 160px;
    /*height: 180px;*/
    margin: 2em;
    text-align: center;
    background-color: cadetblue;
}

.prodList{
    list-style: none;
    padding: 0;
}

.navigation-footer {
    list-style: none;
    margin: 0;
    background: #dddddd;
    -webkit-flex-flow: row-reverse wrap-reverse;
    justify-content: flex-start;
}

.navigation-footer li {
    font-size: 12px;
    font-weight: bold;
    display: block;
    padding: 1em 2em 1em 1em;
}

footer {
    background-color: darkgrey;
    height: 50px;
}


@media all and (min-width: 1280px) {
    .header-content, nav, main, footer {
        width: 1280px;
        margin: auto;
    }
}

@media all and (max-width: 800px) {
    header {
        height: 80px;
    }

    .header-logo img {
        height: 75px;
        padding-top: .5%;
    }

    .navigation, main {
        justify-content: space-around;
    }
}

@media all and (max-width: 600px) {
    .header-navigation li {
        display: none;
    }

    .header-navigation li:first-child {
        display: block;
    }

    .navigation {
        display: none;
    }

    .navigation, main {
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        padding: 0;
    }

    .navigation li {
        text-align: center;
        padding-top: 1em;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .navigation li.navigation-mobile {
        display: revert;
    }

    #login div .flex-item {
        width: 70%;
    }
}
